body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/* Header Section */
.banner-content{
    text-align: center;
}
a{
    text-decoration:none;
}
img{
    width: 100%;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.logo-section {
    width: 21%;
    display: inline-block;
}
.logo-section img {
    width: 100%;
    margin-top: 4px;
}
/* navigation style */
nav {
    float: right;
    margin-top: 94px;
    margin-right: 92px;
}
nav a {
    text-decoration: none;
    color: #8c000c;
    text-transform: uppercase;
    margin-left: 17px;
    font-size: 20px;
    padding: 16px 26px;
}
nav a:hover {
    color: #ff0016;
    border-radius: 13px;
}
a.banner-button {
    font-size: 25px;
    margin-right: 11px;
    color: #ffffff;
    border: 1px solid #809d98;
    padding: 11px 19px;
    border-radius: 34px;
    background: #37534e;
}
i.fas.fa-arrow-circle-right {
    margin-left: 10px;
    color: #cafff6;
}
section.banner-section {
    background-image: url(../images/bg.jpeg);
    padding: 136px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
section.banner-section h1 {
    text-align: center;
    font-size: 118px;
    text-transform: uppercase;
    color: #880f19;
    padding: 70px 12px;
}

/*slider*/
.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slide-div h2 {
    color: white;
    text-transform: uppercase;
    font-size: 47px;
    margin-top: 0;
}
button {
    font-size: 25px;
    margin-right: 11px;
    color: #ffffff;
    padding: 9px 31px;
    border-radius: 34px;
    text-transform: lowercase;
    border: 1px solid #fff;
    background: #af0917;
}
.slide-div div {
    padding: 212px;
    width: 66%;
    margin: 0 auto;
    display: inline-block;
}
.slide-1 {
    background: url(../images/slide1.jpeg);
    background-size: cover;
}
.slide-2 {
    background: url(../images/slide1.jpeg);
    background-size: cover;
}
.slide-3 {
    background: url(../images/slide1.jpeg);
    background-size: cover;
}
.slide-4 {
    background: url(../images/slide1.jpeg);
    background-size: cover;
}
.slide-div p {
    color: white;
    line-height: 36px;
    font-size: 21px;
}

/* About Section */
section.about-section {
    padding: 7px 0 208px;
    border-bottom: 1px solid #d2cfcf;
}
h2.title {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
}
.about-div-left{
    width: 57%;
    display: inline-block;
}
.about-div-right{
    width: 41%;
    float: right;
    clear: both;
}
a.button{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    float: right;
    padding: 13px 19px;
    border: 1px solid #887878;
    border-radius: 23px;
    color: #ffffff;
    background: #82000f;
}
/* Service section */
section.service-section {
    padding: 56px 0 107px 0;
}
.service-section-div {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 19px;
    line-height: 29px;
}
.service-section-div i.service-icon {
    font-size: 127px;
}
i.fas.fa-american-sign-language-interpreting {
    color: #1063ab;
}
i.fas.fa-ambulance {
    color: #bf1c00;
}
i.fab.fa-adobe {
    color: #15635c;
}
a.service-button {
    text-decoration: none;
    color: #e02809;
}
a.service-button:hover {
    color: #15635c;
}
i.fas.fa-arrow-right {
    margin-top: 6px;
    position: absolute;
    margin-left: 5px;
    color: #e54a20;
}
/*CTA Section*/
section.cta-section {
    border-top: 1px solid #d2cfcf;
    padding: 125px 0;
    text-align: center;
    font-size: 36px;
    background: #00796e;
    color: #edffff;
}
.cta-section button {
    background: #337979;
    border: 1px solid #ffff;
    padding: 15px 20px;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 13px;
    color: white;
}
/*footer*/
footer {
    padding: 17px 0 168px 0;
    background: #00437d;
    color: #eaeaea;
    position: relative;
}
div.footer-section {
    width: 33%;
    float: left;
}
.footer-section span a {
    font-size: 27px;
    color: #eff7ff;
    margin-left: 22px;
}
ul li{
    list-style-type: none;
    padding-bottom: 12px;
}
.footer-section ul li a {
    color: #eff7ff;
}
.footer-section ul li a i {
    margin-right: 12px;
}
.footer-section span a:hover, .footer-section ul li a:hover {
    color: aqua;
}